<div class="row">

    <div class="col-md-9">
      <div class="panel panel-success">
        <div class="panel-heading">
          <div class="form-group">
            <label class="col-lg-2 control-label">{{ title }}</label>
            <div class="col-lg-10">
              <input type="text" placeholder="Buscar" class="form-control" [(ngModel)]="nombre" />
            </div>
          </div>
         <br>
          
        </div>
        <div class="panel-body">
        <div class="row">
        <app-coursebox 
        [course]="course_info"
        *ngFor = "let course_info of (Courses | filter: nombre)"
        ></app-coursebox>
        </div>
        </div>
      </div>
    </div>
    <div class="col-md-3" >
      <app-cart></app-cart>
    </div>
</div>