<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/" >Inicio</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav"> 
        <li><a *ngIf="!AuthService.session" routerLink="login">INICIAR SESION</a></li>
        <li><a *ngIf="AuthService.session" (click)="logout()" routerLink="" >CERRAR SESION</a></li>
        <li><a routerLink="courses" >CURSOS</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container" >
  <router-outlet></router-outlet>
</div>


<footer class="footer">
  <div class="container">
     <p class="text-right">Angular web store | © 2017 Todos los derecheos reservados.</p>
  </div>
</footer>